<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/styles/style.css">
    <title>FishComp Manager</title>
</head>
<body>
    <h2>FishComp Manager</h2>
    <h1>Kto ste?</h1>
    <div class="container">
        <a id="rozhodca" class="button uvodbtn">Rozhodca</a>
        <a class="button uvodbtn" href="#">Organizátor</a>
    </div>
</body>
<script>
    document.getElementById("rozhodca").onclick = () => {
        window.location.replace("../pages/rozhodca/prihlasenie.html");
    }
</script>
</html>