<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>FishComp Manager</title>
</head>
<body>
    <h1>Prihlásenie rozdhodcu</h1>
    <form class="form">
        <div class="form-container">
            <label for="name" class="label">Meno:</label>
            <input class="input-text" name="name" id="name" type="text" required>
            <label for="code" class="label">Kód:</label>
            <input class="input-text" name="code" id="code" type="text" required>
            <p id="message" class="message-hidden"></p>
        </div>
        <input class="button button-element" type="submit" value="Prihlásiť sa">
    </form>
    <a class="back">Späť na úvodnú stránku</a>
    <script src="/assets/js/rozhodca/prihlasenie.js"></script>
</body>
</html>