:root{
    --background: #F4FFF2;
    --button_green: #34FF89;
    --table_header: #475c42;
    --table_zebra: #E0FFDD;
    --error_message: #FF4D4D;
}

html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0.5em;
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    background-color: var(--background);
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 1.4rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 0;
}

.button {
    color: black;
    text-decoration: none;
    background-color: var(--button_green);
    border: 1px solid black;
    border-radius: 1.5em;
    font-weight: bold;
    padding: 1em 2em;
    font-size: 1.3rem;
}

.form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.label{
    font-size: 1.8rem;
}

.input-text{
    font-size: 2rem;
    max-width: 8em;
    text-align: center;
    padding: 0.2em;
    margin: 0.4em 0 0.1em 0;
}

.message{
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--error_message);
    color: white;
    padding: 0.2em 0.9em 0.2em 0.9em;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 13em;
}

.message-hidden{
    text-align: center;
    font-size: 1.1rem;
    background-color: var(--error_message);
    color: white;
    padding: 0.2em 0.9em 0.2em 0.9em;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 13em;
    display: none;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.back{
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.rules-a {
    color: black;
    font-size: 1.7rem;
}

.dashboard-table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.3rem;
}

.ulovky-table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.3rem;
}

th {
    background-color: var(--table_header);
    border: none;
    color: white;
    padding: 0.5em;
}

.dashboard-table tbody tr:nth-child(even){
    background-color: var(--table_zebra);
}

.ulovky-table tbody tr:nth-child(-n+3){
    background-color: var(--table_zebra);
}

td {
    padding: 0.5em;
}

.name{
    color: black;
}

.add-catch{
    background-color: var(--button_green);
    border: none;
    height: 1.4em;
    width: 100%;
    font-size: 1.7em;
    border-radius: 5px;
}

.back-arrow{
    width: calc(100% - 1em);
    display: flex;
    padding-left: 1em;
    align-items: flex-start;
}

.name-display{
    background-color: white;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 1.2em;
    margin: 0 0 1.4em 0;
}

.form-bodovanie{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.div-input{
    width: 12em;
    display: flex;
    justify-content: space-between;
}

.input-number{
    font-size: 1.2rem;
    width: 65%;
    text-align: right;
}

.input-select{
    font-size: 1.2rem;
    width: 65%;
    text-align: center;
}

.fish-id{
    display: none;
}

.button-delete{
    background-color: var(--error_message);
    border: none;
    height: 1.2em;
    width: 75%;
    font-size: 1.7em;
    border-radius: 5px;
    color: white;
}

.hidden{
    display: none;
}